extends layout.pug

block title
  title Monitoramento Arduino

block link
  -var selected = 'Sobre';

block content
  div.container
    div.jumbotron
      h3 Criado por:
      h4
        ul
          li
            a(href='https://github.com/joaotavio/' target='blank') Joao
          li 
            a(href='https://github.com/MarcoADP/' target='blank') Marco
          li
            a(href='https://github.com/matheusalberto/' target='blank') Matheus
          li 
            a(href='https://github.com/thiagovmoraes' target='blank') Thiago

