doctype html
html
  head
    block title
      title Monitoramento Arduino
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
    link(href='/public/app.css', rel='stylesheet')
    block link
      -var selected = 'Home'; //default

    -var menu = { 'Home': '/', 'Sobre': '/about'};
  body
    nav.navbar.navbar-inverse
      .container
        .navbar-header
          a.navbar-brand(href='/') Monitoramento Arduino
        #navbar.navbar-collapse.collapse
          ul.nav.navbar-nav
            each val, key in menu
              if selected === key
                li.active
                  a(href=val, title=key)= key
              else
                li
                  a(href=val, title=key)= key

    block content

