body {
  background-color: #10738f;
}

body::after {
  content: "";
  background: url(arduino-background.jpg);
  opacity: 0.3;
  top: 0; 
  left: 0;
  right: 0; 
  bottom: 0; 
  position: absolute;
  z-index: -1;   
}

