extends layout.pug

block title
  title Webcam Observer

block link
  -var selected = 'Sobre';

block content
  div.container
    div.jumbotron
      h3 Desenvolvido por:
      h4
        ul
          li 
            a(href="https://github.com/joaotavio") João Otávio
          li 
            a(href="https://github.com/marcoadp") Marco Aurélio
          li 
            a(href="https://github.com/matheusalberto") Matheus Alberto
          li 
            a(href="https://github.com/thiagovmoraes") Thiago Moraes

